.mainDisplay {
    min-height: 80px;
}

.generalDisplay {
    height: 40px;
    color: rgb(255, 255, 255)
}

.historyDisplay {
    padding-top: 10px;
    height: 40px;
    color: rgba(255, 255, 255, 0.5);
    overflow: hidden;    
    
}

.historyDisplayOverflow {
    padding-top: 10px;
    min-height: 70px;
    max-height: 200px;
    color: rgba(255, 255, 255, 0.5);
    overflow: auto;
    
}

/*
display: flex;
    flex-direction: column;
    align-items: flex-end;
*/